#logo{
	background-color: #272727;
	width: auto;
	height: 80px;
	padding-top: 20px;
}
#logo a img{
	width: 70px;
	height: 50px;
	margin-left: 70px;
}
#logo a{
	float: left;
}
#logo_p1{
	color:#97CBFF;
	margin-top: -4px;
}
#logo_p2{
	color:#97CBFF;
	font-size: 10px;
}
#foot{
	background-color: #272727;
	width: 1000px;
	height: 100px;
	margin-top: 5%;
	padding-top: 10px;
}
#foot a{
	color: #97CBFF;
	text-decoration: none;
	margin-left: 100px;
}
#foot p{
	color: #FFECEC;
	margin-left: 30%;
}
#body{
	background-color: #CAFFFF;
	width: auto;
	height: 500px;
	margin-top: 20px;
	padding: 20px 70px 20px 70px;
}
h3{
	text-align: center;
}